.root{
    width: 100%;
    overflow-x: hidden;
    
}

body{
    
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    
}
#header-list{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 20px;
}

#header-list  li{
    margin: 0 16px;
}

.nav-link{
    color: #000;
}
#header-image{
    width: 20rem;
    
}
@media(max-width:768px){
    #header-image{

        width: 12rem;
    }
}

.nav-item:hover{
    background-color: #f4f4f4;
    
   
}
#wave-emoji{
    height: 1em;
    width: 1em;
    margin: 0px 0.05em 0px 0.1em;
    vertical-align: -0.1em;
}
#greeting-p{
    height: 1em;
    width: 1em;
    margin: 0px 0.05em 0px 0.1em;
    vertical-align: -0.1em;
}
#greeting-text{
    font-family: 'Montserrat', sans-serif;
    color: #000 !important;
    font-weight: 600;
    line-height: 1.1;

}
#greeting-subtitle{
    color: #868e96;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    word-break: break-all;
    margin-top: 1em;
    
}
.progressMainWrapper{
    background-color: #fff;
    height: 3px;
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
}
.progressMainStyle{
    height: 3px;
    background-color: #ee5253;
}

@media (max-width: 1380px){
    #greeting-text{
        font-size: 36px;
    }

}
@media(max-width: 768px){
    #greeting-text{
    font-size: 30px;
    text-align: center;
}
}
@media(max-width :768px){
    #greeting-subtitle{
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }

}
#greeting{
    margin: 2rem auto 0;
    padding: 20px 10px;
}
#coding{
    margin-top: 2.5rem ;
    
}
@media(max-width: 768px){
    #coding{
        margin-top: 2rem ;
        
    }

}

#avatar{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
@media(max-width : 768px) {
    #avatar{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
    }

    
}


#github{
    background: #333;
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
    transition: .2s ease-in;
}

#linkedin{
    background-color: #0e76a8;
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
    transition: .2s ease-in;
}
#gmail{
    background-color: #ea4335;
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
    transition: .2s ease-in;
}
#instagram{
    background-color: #c13584;
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
    transition: .2s ease-in;
}

#instagram:hover{
    
   color: #fff !important;
   background-color: #000;
}
#gmail:hover{
    
    color: #fff;
   background-color: #000;
}
#linkedin:hover{
    color: #fff;
   background-color: #000;
}
#github:hover{
    
    color: #fff;
   background-color: #000;
}
@media(max-width:768px){
    #instagram{
        display: none;
    }
}

.resume{
    margin: 2em 0 0 0;
}
.resume-btn{
    margin: 0 0 0 0.5rem;
}

@media(max-width : 768px){
    .resume{
        margin: -1px ;
        
    }
}
@media(max-width: 768px){
    .resume-btn{
        margin: 0 0 0 0.1rem;
    }
}

.main{
    /* margin: 4rem auto 0; */
    display: flex;
}
.skills-image{
    
    margin: 4rem 10rem 0 0;
}
.skills-content{
    margin: 4rem auto 0;
}
#skills-head{
    
    font-size: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.skills-icon{
    margin-bottom: 20px;
}
.skills-content1{
    font-family: 'Montserrat', sans-serif;
    color: #868e96;
    
    font-size: 19px;
}
.contain{
    text-align: center;
}
@media(max-width:768px){
    .main{

        display: block;
    }
}
@media(max-width:768px){
    .skills-image{

        width: 100%;
    }
}
@media(max-width:768px){
    .skills-content{
        width: 100%;
        text-align: center;
        
    }
}
@media(max-width:768px){
    #skills-head{
        text-align: center;
        font-size: 30px;
    }
    #skills-p{
        text-align: center;
        line-height: normal;
        font-size: 16px;
    }
    
}
@media(max-width:768px){
    #skills-content1{
        line-height: normal;
    }
}
.education{
    display: flex;
    flex-direction: row;
   
    width: 90%;
    padding: 20px 0;
    margin: 6rem auto 0;
}
#education-inf{
    margin: 2rem 0 0 0;
}

.education-head{
    
    
   
    font-size: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}
#edu-img{
    /* float: left; */
    object-fit: cover;
    padding: 5px;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
    border-radius: 50%;
}
.edu-img{
    margin-left: 10rem;
    width: 30%;
}

.edu-img > img{
    max-height: 100%;
    max-width: 100%;
    margin-top: 2rem;
}
@media(max-width:768px){
    .education{
        flex-direction: column;
    }
    #edu-gif{
        margin: 0 0 0 0;
        width: 100%;
    }
    .edu-img{
        margin: 0 0 0 0;
    }
    .education-head{
        font-size: 30px;
        text-align: center;
        font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    }
    #education-inf{
        text-align: center;
    }
   
    
}
.contact{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px 10px;
    margin: 4rem auto 0;
}

#contact-header{
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    
}
#contact-p{
    color: #868e96;
    font-size: 19px;
}
#contatc-prof{
    font-size: 19x;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;


}
#contact-h2{
    line-height: 30px;
    font-size: 22px
}
.socialMedia{
    font-size: 3rem;
    margin-top: 1.5rem;
}
#contact-image{
    max-width: 60%;
    height: auto;
    border-radius: 100%;
}


@media(max-width:768px){
    .contact{
        flex-direction: column-reverse;
        text-align: center;
    }
    #contact-header{
        font-size: 30px ;
        margin: 1.5rem 0 1rem 0;
    
        
        font-family: 'Montserrat', sans-serif;
    }
    #contact-p{
        font-size: 16px;
        line-height: normal;
    }
    #contact-h2{
        font-size: 16px;
    }
    #contatc-prof{
        font-size: 16px;
    }

}
.projects{
 
    width: 90%;
    padding: 20px 0;
    margin: 6rem auto 0;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 15px;
}
.card:hover{
    transform: scale(1.1);
}
.card-text{
    color: #868e96;
}
.project-head{
    font-size: 45px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.project-p{
    color:#868e96;
    font-family: 'Montserrat', sans-serif;
}
.projects-btn{
    margin: 0 0 0 0.5rem;
}
.cards{
    
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 3rem 0 0 0;
}
.card-img-top{
    
    width: 50%;
    /*  */
    margin-left: 5rem;
    
}
.card{
   
    width: 30%;
    margin: 0 2rem 0 3rem;
}
@media (max-width : 768px){
    .projects{
 
        width: 100%;
        padding: 20px 0;
        margin: 6rem auto 0;
    }
    .project-head{
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }
    .project-p{
        text-align: center;
        color:#868e96;
        font-family: 'Montserrat', sans-serif;
    }
    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0 0 0;
    }
    .card{
        width: 100%;
        margin: 0 0 2rem 0;
    }
    .card-img-top{
        width: 50%;
        height: 100%;
        margin-left: 4.4rem;
        
    }

}
.footer{
    margin: 1rem 0 0 0;
    background: #181D31;
}
.footer p {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1.3rem 0 1.3rem 0;
    text-align: center;
    color: white;
}
@media(max-width:768px){
    .footer p{
        font-size: 1rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
}
